.nav-container {
  display: flex;
  align-content: center;
  align-items: center;
}

.select {
  flex: 1;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.input2 {
  flex: 1;
  border-radius: 100px;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  width: 100px;
  height: 10px;
  background-color: #f4f5f7;
}
.btn {
  cursor: pointer;
  margin: 10px;
  border: 0;
  background: none;
}

.queryDisplay {
  display: flex;
  align-content: center;
  text-align: center;
}
